* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  overflow: hidden;
  font-family: "Outfit", sans-serif;
  /* background-color: hsl(215, 51%, 70%);
  padding: 40px; */
}

.card-container {
}
