* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  letter-spacing: 0.5px;
  font-size: 18px;
}

.card-container {
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  border-radius: 2.2%;
  margin: 0 auto;
  max-width: 340px;
  margin-top: 15vh;
  margin-bottom: 15vh;
  overflow: hidden;
}

.card-container .card-img {
  border-radius: 1.8%;
  margin-bottom: 15px;
  width: 100%;
}

.card-container h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

.card-container p {
  color: hsl(215, 51%, 70%);
  /* font-size: 18px; */
  font-weight: 300;
}

.price-container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px hsl(215, 32%, 27%);
  margin-top: 16px;
  padding-bottom: 16px;
}

.price,
.time-left,
.footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer {
  padding-top: 16px;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 8px;
}

.footer img {
  width: 40px;
  height: auto;
  border: solid 1px hsl(0, 0%, 100%);
  border-radius: 100%;
}

.footer span {
  color: hsl(0, 0%, 100%);
}
/* 
.card-container:hover {
  color: brown;
} */
